 html{
  background: rgba(245, 198, 136, 0.705);
  text-align: center;
  color: rgb(59, 59, 59);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  margin:0px;
  font-size: 20px;
}

.header {
  font-family: 'Bungee Shade';
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color:rgba(0, 0, 0, 0.827);
  background-color: rgb(241, 113, 62);
  padding-top:10px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 234, 140, 0.959);
}


#globeimg{
  height: 365px;
}

#globeicon{ 
  height: 60px;
}

div.body{
  margin-right:20vw;
  margin-left:20vw;
}

p{
  text-indent: 7%;
}



html{
  text-align: center;
  font: italic;
}
#map
{
position: relative;
width: 100%;
}

#map .pin {
  position: absolute;
}

#map .world-map{
  display: block;
  width: 100%;
}

#sanfrancisco {
  top: 38.1%;
  left: 12.8%;
}

#reykjavik {
  top: 23.7%;
  left: 41.9%;
}

#melbourne {
  top: 83.8%;
  left: 87%;
  
}

#melbournestart {
  top: 83.8%;
  left: 87%;
}
#pretoria {
  top:71.8%;
  left: 54.6%;
}

#havana {
  top: 46.8%;
  left: 23%;
}
#mombasa {
  top:64.2%;
  left: 58.2%;
}
#guatemalacity {
  top: 51%;
  left: 20.4%;;
}

#helsinki {
  top: 23.7%;
  left: 52.4%;
  filter: invert(55%) sepia(29%) saturate(2794%) hue-rotate(333deg) brightness(99%) contrast(90%);
}

#tunis {
  top: 39.4%;
  left: 49.1%;
  filter: invert(55%) sepia(29%) saturate(2794%) hue-rotate(333deg) brightness(99%) contrast(90%);
}

#kathmandu {
  top: 44%;
  left: 70.7%;
  filter: invert(55%) sepia(29%) saturate(2794%) hue-rotate(333deg) brightness(99%) contrast(90%);
}

#manila {
  top: 50.8%;
  left: 81.2%;
  filter: invert(55%) sepia(29%) saturate(2794%) hue-rotate(333deg) brightness(99%) contrast(90%);
}

#osaka {
  top: 38.8%;
  left: 84.4%;
  filter: invert(55%) sepia(29%) saturate(2794%) hue-rotate(333deg) brightness(99%) contrast(90%);
}


